name: Run Test 

on:
  workflow_dispatch:

jobs:
  test: 
    runs-on: ubuntu-24.04
    steps: 
      - name: Checkout Code 
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1 find the latest version in https://github.com/actions/checkout/releases

      - name: Setup Node.js environment   ## get it in this url https://github.com/marketplace/actions/setup-node-js-environment
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f   # to get the hash view sorce code find relase and get hash add after the @ 
        with:

          node-version-file: services/node/api-node/package.json
          
          cache: "npm"
          cache-dependency-path: services/node/api-node/package-lock.json


        #TODO: use the specific version + setup caching 
      - name: Install Task 
        uses: supplypike/setup-bin@1fafb085795af4a3f183502f3a9dffa8f7b83217  # to get it go https://github.com/supplypike/setup-bin/commit
        with:
          uri: "https://github.com/go-task/task/releases/download/v3.46.4/task_linux_arm64.tar.gz"
          name: task 
          version: v.3.46.4
      - name: Install node dep
        working-directory: services/node/api-node
        run : |
          task install-ci 
      - name: Run Tests
        working-directory: services/node/api-node
        run : |
          task install-ci 

      

